<div class = "render-question">

  <h2>Title: <%=@question.title%></h2>
  <p>User: <%=@question.user.username%></p>
  <p>Views: <%=@question.view_count%></p>
  <p>Created at: <%=@question.created_at%></p>
  <p>Updated at:<%=@question.updated_at%></p>
  <p><%=@question.body%></p>

</div>