<div class = "render-question" id = "question-info">
  <h2>Title: <%=@question.title%></h2>
  <div class ="question-partial">
    <p>User: <%=@question.user.username%></p>
    <p>Views: <%=@question.view_count%></p>
    <p>Created: <%= time_ago_in_words(@question.created_at)%> ago</p>
    <p>Updated: <%= time_ago_in_words(@question.updated_at)%> ago </p>
    <p>Vote count: <span id="vote-count-span"><%= @vote_count %> </span></p>
    <%= render partial: "/votes/new" %>
    <p class = "body-style"><%=@question.body%></p>
  </div>
</div>