<h1>EDIT QUESTION</h1>

<%= form_for @question do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_field :body%>
  <%= f.hidden_field :view_count, value: 0%>
  <%= f.hidden_field :user_id, value: session[:user_id] %>
  <%= f.submit "Edit" %>

<% end %>