<h1>SHOW Page </h1>

<%= render 'question', question: @question %>

<h6 id="q-comment">Comments</h6>

<% @question.comments.each do |comment| %>
  <%= render 'comment', comment: comment %>
<% end %>

<button id="question-comment-button">Add Comment</button>
<%= render partial: "/comments/question_comment" %>

<hr/>

<h3>Answers</h3>

<button id="answer-button">Add Answer</button>
<%= render partial: "/answers/answer_form" %>

  <% @answers.each do |answer| %>
    <div class = "render-question-answer">
      <%= render 'answer', answer: answer %>
    </div>
    <button id="answer-comment-button-<%= answer.id %>" >Add Comment</button>
    <%= render partial: "/comments/answer_comment", locals: { answer: answer } %>
    <% answer.comments.all.each do |comment| %>
      <%= render 'comment', comment: comment %>
    <% end %>
  <% end %>

<hr/>


