<h1>SHOW Page </h1>

<%= render 'question', question: @question %>

<h6>Comments</h6>

<% @question.comments.each do |comment| %>

  <%= render 'comment', comment: comment %>

<% end %>

<button id="question-comment-button">Add Comment</button>

<%= render partial: "/comments/question_comment" %>

<hr/>

<h3>Answers</h3>

<button id="question-comment-button">Add Answer</button>

  <% @answers.each do |answer| %>

    <div class = "render-question-answer">

      <%= render 'answer', answer: answer %>

    </div>

    <% answer.comments.all.each do |comment| %>

      <%= render 'comment', comment: comment %>

    <% end %>

  <% end %>

<hr/>


