  <div class="question-comment-form" style="display:none;">
    <%= form_for @comment do |f| %>
      <%= f.text_area :body, size: "100x10" %>
      <%= f.hidden_field :user_id, value: current_user.try(:id) %>
      <%= f.hidden_field :commentable_type, value: "Question" %>
      <%= f.hidden_field :commentable_id, value: @question.id %>
      <%= f.submit :"Submit", id: "question_comment_submit" %>
    <% end %>
  </div>
