<div class="size">
  <%= bootstrap_form_for @user do |f| %>
    <%=f.text_field :username%>
    <%=f.text_field :email%>
    <%=f.password_field :password, value: @user.password %>
    <%= f.submit 'Update Your Account'%>
  <%end%>

  <li><%= link_to 'Delete Account', user_path, method: :delete %></li>
</div>
