  <div class="answer-form" style="display:none;">
    <%= form_for @answer, url: new_answer_path, id: "new_answer" do |f| %>
      <%= f.text_area :body, size: "100x10" %>
      <%= f.hidden_field :commentable_type, value: "Answer" %>
      <%= f.hidden_field :commentable_id, value: @answer.id %>
      <%= f.submit :"Add answer" %>
    <% end %>
  </div>
