<div class="up-vote-answer">
  <%= form_for @vote, html:{class: "up-vote-answer-form", id:"up-vote-answer-" + answer.id.to_s} do |f| %>
    <%= f.hidden_field :voteable_type, value: "Answer" %>
    <%= f.hidden_field :voteable_id, value: answer.id %>
    <%= f.hidden_field :user_id, value: current_user.id%>
    <%= f.hidden_field :value, value: 1%>
    <%= f.submit 'up' %>

  <% end %>
</div>

<div id="down-vote-answer">
  <%= form_for @vote, html:{class: 'down-vote-answer-form', id:"down-vote-answer-" + answer.id.to_s} do |f| %>
    <%= f.hidden_field :voteable_type, value: "Answer" %>
    <%= f.hidden_field :voteable_id, value: answer.id%>
    <%= f.hidden_field :user_id, value: current_user.id%>
    <%= f.hidden_field :value, value: -1%>
    <%= f.submit 'down' %>
  <% end %>
</div>